// Place all the styles related to the AdminsBackoffice/Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.add_subject{
   font-size: 1.2rem;
}

a:hover{
   background: rgba(0, 128, 0, 0.25);
}

