<h1>AdminsBackoffice::Welcome#index</h1>

<p>
   <%= link_to "Home", root_path %> | 
   <%= link_to "Painel Admin",admins_backoffice_admins_path %> | 
   <%= link_to "Assuntos/Áreas", admins_backoffice_subjects_path %> |
   <%= link_to "Questões", admins_backoffice_questions_path %>
</p>




